.cardsContainer {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 2em;
}

.cardShadow {
  border-radius: .3em;
  box-shadow: 10px 10px 30px rgb(0, 0, 0, 0.1);
}